* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0, 0, 0, 0.0001);
    font-family: 'Montserrat',  sans-serif;
}

.header {
    padding: 25.5px 0;
    width: 1280px;
}

.header-menu ul {
    text-align: center;
}

.header-menu li {
    display: inline;
    margin: 0 36px;
}

.header-menu-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.banner {
    height: 789px;
    width: 1280px;
    background-image: url(../img/1.jpg);
    margin-bottom: 49px;
}

.heading {
    width: 1280px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    color: #373737;
    margin-bottom: 38px;
}

.text-main {
    width: 1145px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
    text-align: center;
    letter-spacing: 2.4px;
    margin: 0 67.5px;
}

.text-main-paragraf1 {
    margin-bottom: 28px;
}

.text-main-paragraf2 {
    margin-bottom: 66px;
}

.button {
    display: inline-block;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    cursor: pointer;
    background: #FF0000;
    font-weight: 700;
    font-size: 12px;
    line-height: 51px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    margin-left: 544.5px;
    margin-bottom: 82px;
}

.footer-text {
    width: 1175px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 0 105px 29px 0;
}